html, body {
    touch-action: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

body {
    text-align: center;
    background-color: #181818;
}

canvas {
    background-color: #86C1B9;
}

#assets {
    display: none;
}

